@* <div class="row inputs">
	<form class="card shadow-sm customer-form col-11 mx-auto mt-5">
		<div class="customer-form__inner card-body row align-items-center">
            <div class="col-md-12 col-lg-4">
                <label for ="filter" class="col-form-label">Filter</label>
			    <input id="filter" type="text" class="form-control" placeholder="Filter">
            </div>
            <div class="col-md-12 col-lg-4"> 
                <label for="groups-select" class="col-form-label">Groups</label>
                <select style="max-width:300px; height:43px !important;" class="form-select" id="groups-select" aria-label="Select">
                    <option selected>Groups</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                    <option value="3">VIP</option>
                    <option value="4">Budget</option>
                    <option value="5">Wholesaler</option>
                </select> 
            </div>
		</div>
	</form>
</div> *@