<div class="row">
    <div class="card shadow-sm col-11 mx-auto mb-10 mt-5">
        <div class="card-header mt-0 customer-form__inner row align-items-center">
            <select class="form-select col" aria-label="Page Select">
                <option selected value="5">Page</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="100">100</option>
                <option value="">All</option>
            </select>
            <div class="btn-group col">
                <button
                    class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                    Export
                </button>
                <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center">
                    <i class="fa-regular fa-plus"></i> New
                </button>
                <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                    id="refresh-btn">
                    <i class="fas fa-sync"></i>
                </button>
                <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                    id="refresh-btn">
                    <i class="fa fa-filter"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7 align-items-center">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>#</th>
                            <th>Email</th>
                            <th>Tags</th>
                            <th>Assigned</th>
                            <th>Status</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="mailto:jadon.schimmel@example.com">jadon.schimmel@example.com</a>
                                <div class="row-options">
                                    <a href="#">View</a>
                                    <a href="#">Edit</a>
                                    <a href="#" class="text-danger">Delete</a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-success">
                                            <i class="fa-solid fa-circle-check"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-danger">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-warning">
                                            <i class="fa-solid fa-circle-exclamation"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-info">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </span>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <img src="assets/media/avatars/300-1.jpg" alt="" />
                                    </div>
                                    <div class="symbol symbol-35px">
                                        <img src="assets/media/avatars/300-4.jpg" alt="" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge badge-light-success">Approved</span>
                            </td>
                            <td>03-08-2023 18:00:07</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="mailto:jadon.schimmel@example.com">jadon.schimmel@example.com</a>
                                <div class="row-options">
                                    <a href="#">View</a>
                                    <a href="#">Edit</a>
                                    <a href="#" class="text-danger">Delete</a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-success">
                                            <i class="fa-solid fa-circle-check"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-danger">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-warning">
                                            <i class="fa-solid fa-circle-exclamation"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-info">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </span>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <img src="assets/media/avatars/300-1.jpg" alt="" />
                                    </div>
                                    <div class="symbol symbol-35px">
                                        <img src="assets/media/avatars/300-4.jpg" alt="" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge badge-light-success">Approved</span>
                            </td>
                            <td>03-08-2023 18:00:07</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="mailto:jadon.schimmel@example.com">jadon.schimmel@example.com</a>
                                <div class="row-options">
                                    <a href="#">View</a>
                                    <a href="#">Edit</a>
                                    <a href="#" class="text-danger">Delete</a>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-success">
                                            <i class="fa-solid fa-circle-check"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-danger">
                                            <i class="fa-solid fa-circle-xmark"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-warning">
                                            <i class="fa-solid fa-circle-exclamation"></i>
                                        </span>
                                    </div>
                                    <div class="symbol symbol-35px me-2">
                                        <span class="symbol-label bg-light-info">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </span>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="symbol symbol-35px me-2">
                                        <img src="assets/media/avatars/300-1.jpg" alt="" />
                                    </div>
                                    <div class="symbol symbol-35px">
                                        <img src="assets/media/avatars/300-4.jpg" alt="" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="badge badge-light-success">Approved</span>
                            </td>
                            <td>03-08-2023 18:00:07</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row pt-5 mx-auto">
                <div
                    class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                    <div class="row mx-2 align-items-center flex-column pb-5 text-center">
                        Toplam 48630 Kayıttan
                        <input value="1" style="scale:0.8; max-width: 100px;" type="text" class="form-control col mx-3"
                            wfd-id="id38">
                        arası gösteriliyor
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="kt_ecommerce_products_table_previous">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="1">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="0">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="1" class="page-link pager-page active">1</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="2" class="page-link pager-page ">2</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="3" class="page-link pager-page ">3</a>
                            </li>
                            <li class="paginate_button page-item next ">
                                <a class="page-link pager-page" href="#" page="2">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>

                            <li class="paginate_button page-item">
                                <a class="page-link pager-page" href="#" page="4863">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
<link href="~/css/customer.css" rel="stylesheet" />
}
@section scripts{
<!--begin::Custom Javascript(used for this page only)-->
<script src="assets/js/custom/apps/customers/list/export.js"></script>
<script src="assets/js/custom/apps/customers/list/list.js"></script>
<script src="assets/js/custom/apps/customers/add.js"></script>
<script src="assets/js/widgets.bundle.js"></script>
<script src="assets/js/custom/widgets.js"></script>
<script src="assets/js/custom/apps/chat/chat.js"></script>
<script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="assets/js/custom/utilities/modals/create-app.js"></script>
<script src="assets/js/custom/utilities/modals/users-search.js"></script>
<!--end::Custom Javascript-->
}
