<div class="row mx-0">


	<div id="columnContainer" class="card shadow-sm col-sm-11 col-md-11 mx-auto mb-10 mt-5">
		<div class="card-header mt-5 customer-form__inner row align-items-center">
			<div class="mt-5 gy-5 row justify-content-between align-items-center mx-auto px-0">
				<!-- 	<a class="btn btn-sm btn-primary customer-details-btn d-flex align-items-center justify-content-center col me-3"
					href="#">
					<i class="fa-solid fa-file-invoice"></i>
					Batch Payments
				</a> -->
				<!-- <a class="btn btn-secondary customer-details-btn d-flex align-items-center justify-content-center col"
					href="#">
					<i class="fa-solid fa-repeat"></i>
					Recurring Invoices
				</a> -->
				<div class="btn-group col ps-3 pe-0 ms-auto mt-0">
					<button
						class="btn btn-secondary customer-form__inner__export-btn d-flex align-items-center justify-content-center"
						data-toggle="tooltip" data-placement="top" title="Toggle Table" onclick="toggleColumnSize()">
						<i class="fa fa-angle-double-left"></i>
					</button>
					<button class="btn btn-secondary refresh-btn d-flex align-items-center justify-content-center"
						data-toggle="tooltip" data-placement="top" title="View Quick Stats" id="refresh-btn">
						<i class="fa fa-bar-chart"></i>
					</button>
				</div>
			</div>
			<div class="row my-5 px-0 mx-auto">
				<div class="col px-0">
					<select class="form-select" aria-label="Page Select">
						<option selected="" value="5">Page</option>
						<option value="10">10</option>
						<option value="25">25</option>
						<option value="100">100</option>
						<option value="">All</option>
					</select>
				</div>
				<div class="btn-group col px-0 ms-auto">
					<button
						class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">Export</button>
					<button data-toggle="tooltip" data-placement="top" title="Refresh"
						class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
						id="refresh-btn">
						<i class="fas fa-sync"></i>
					</button>
					<button
						class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">
						<a href="#" class="d-flex align-items-center text-white">
							<i style="height: 15px;" class="fa-regular fa-plus me-1"></i>
							New
						</a>
					</button>
					<button data-toggle="tooltip" data-placement="top" title="Filter By"
						class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
						id="refresh-btn">
						<i class="fa fa-filter"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-row-dashed table-row-gray-300 gy-7 align-items-center">
					<thead>
						<tr class="fw-bold fs-6 text-gray-800">
							<th>Proposal #</th>
							<th>Subject</th>
							<th>To</th>
							<th>Total</th>
							<th>Date</th>
							<th>Open Till</th>
							<th>Project</th>
							<th>Tags</th>
							<th>Date Created</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="#">PRO-000005</a>
								<div class="row-options">
									<a href="#">View</a>
									<a href="#" class="text-danger">Delete</a>
								</div>
							</td>
							<td>
								<a href="#">123 Smith Street Sales Campaign</a>
							</td>
							<td>
								<a href="#">Shanahan LLC</a>
							</td>
							<td class="text-dark">$31,500.00</td>
							<td class="text-dark">2023-08-11</td>
							<td class="text-dark">2023-08-18</td>
							<td>

							</td>
							<td>
								<span class="badge badge-light-success">Active</span>
							</td>
							<td class="text-dark">
								2023-08-11 09:10:23
							</td>
							<td>
								<span class="badge badge-light-info">Draft</span>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">PRO-000005</a>
								<div class="row-options">
									<a href="#">View</a>
									<a href="#" class="text-danger">Delete</a>
								</div>
							</td>
							<td>
								<a href="#">123 Smith Street Sales Campaign</a>
							</td>
							<td>
								<a href="#">Shanahan LLC</a>
							</td>
							<td class="text-dark">$31,500.00</td>
							<td class="text-dark">2023-08-11</td>
							<td class="text-dark">2023-08-18</td>
							<td>

							</td>
							<td>
								<span class="badge badge-light-success">Active</span>
							</td>
							<td class="text-dark">
								2023-08-11 09:10:23
							</td>
							<td>
								<span class="badge badge-light-info">Draft</span>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">PRO-000005</a>
								<div class="row-options">
									<a href="#">View</a>
									<a href="#" class="text-danger">Delete</a>
								</div>
							</td>
							<td>
								<a href="#">123 Smith Street Sales Campaign</a>
							</td>
							<td>
								<a href="#">Shanahan LLC</a>
							</td>
							<td class="text-dark">$31,500.00</td>
							<td class="text-dark">2023-08-11</td>
							<td class="text-dark">2023-08-18</td>
							<td>

							</td>
							<td>
								<span class="badge badge-light-success">Active</span>
							</td>
							<td class="text-dark">
								2023-08-11 09:10:23
							</td>
							<td>
								<span class="badge badge-light-info">Draft</span>
							</td>
						</tr>
						<tr>
							<td>
								<a href="#">PRO-000005</a>
								<div class="row-options">
									<a href="#">View</a>
									<a href="#" class="text-danger">Delete</a>
								</div>
							</td>
							<td>
								<a href="#">123 Smith Street Sales Campaign</a>
							</td>
							<td>
								<a href="#">Shanahan LLC</a>
							</td>
							<td class="text-dark">$31,500.00</td>
							<td class="text-dark">2023-08-11</td>
							<td class="text-dark">2023-08-18</td>
							<td>

							</td>
							<td>
								<span class="badge badge-light-success">Active</span>
							</td>
							<td class="text-dark">
								2023-08-11 09:10:23
							</td>
							<td>
								<span class="badge badge-light-info">Draft</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row pt-5 mx-auto">
				<div
					class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
					<div class="row mx-2 align-items-center flex-column pb-5 text-center">
						Toplam 48630 Kayıttan
						<input value="1" style="scale:0.8; max-width: 100px;" type="text" class="form-control col mx-3"
							wfd-id="id38">
						arası gösteriliyor
					</div>
				</div>
				<div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
					<div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
						<ul class="pagination">
							<li class="paginate_button page-item previous disabled"
								id="kt_ecommerce_products_table_previous">
								<a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
									page="1">
									<i class="fa-solid fa-angles-left"></i>
								</a>
							</li>
							<li class="paginate_button page-item">
								<a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
									page="0">
									<i class="fa-solid fa-angle-left"></i>
								</a>
							</li>
							<li class="paginate_button page-item">
								<a href="#" page="1" class="page-link pager-page active">1</a>
							</li>
							<li class="paginate_button page-item">
								<a href="#" page="2" class="page-link pager-page ">2</a>
							</li>
							<li class="paginate_button page-item">
								<a href="#" page="3" class="page-link pager-page ">3</a>
							</li>
							<li class="paginate_button page-item next ">
								<a class="page-link pager-page" href="#" page="2">
									<i class="fa-solid fa-angle-right"></i>
								</a>
							</li>

							<li class="paginate_button page-item">
								<a class="page-link pager-page" href="#" page="4863">
									<i class="fa-solid fa-angles-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="sideInfo" class="card d-none col-sm-11 col-md-6 me-10 mb-10 mt-5">
		<div class="card-header mt-3 customer-form__inner row align-items-center">
			<ul style="font-size: 12px;" class="nav nav-tabs nav-line-tabs mb-0 px-0 mx-auto">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_1">Invoice</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_2">Payments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_3">Tasks</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_3">Activity Log</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_4">Reminders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">Notes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">
						<i class="fa-regular fa-envelope-open fs-4"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_7">
						<i class="fa fa-eye fs-4"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_8">
						<i class="fa fa-expand fs-4"></i>
					</a>
				</li>
			</ul>
		</div>



		<div class="tab-content">
			<div class="tab-pane fade show active" id="kt_tab_pane_1">
				<div class="card-body">
					<div class="row px-0 align-items-center my-5">
						<div class="col-md-3 px-0">
							<span class="badge badge-warning p-2">Partially Paid</span>
						</div>
						<div class="col-md-9 px-0 d-lg-flex justify-content-end">
							<div class="btn-group me-2">
								<a class="btn btn-sm btn-light border border-secondary border-1">
									<i class="fa-regular fa-pen-to-square fs-4"></i>
								</a>
							</div>
							<div class="btn-group me-2">
								<a class="btn btn-sm btn-light border border-secondary border-1">
									<i class="fa-regular fa-file-pdf fs-4"></i>
								</a>
							</div>
							<div class="btn-group me-2">
								<a class="btn btn-sm btn-light border border-secondary border-1">
									<i class="fa-regular fa-envelope fs-4"></i>
								</a>
							</div>
							<div class="btn-group me-2">
								<div style="max-width: 160px;" class="dropdown">
									<button
										class="btn btn-sm btn-light border border-secondary border-1 dropdown-toggle"
										type="button" id="more" data-bs-toggle="dropdown" aria-expanded="false">
										More
									</button>
									<ul class="dropdown-menu" aria-labelledby="more">
										<li><a class="dropdown-item" style="white-space: normal;" href="#">View invoice
												as
												customer</a></li>
										<li><a class="dropdown-item" style="white-space: normal;" href="#">Create Credit
												Note</a></li>
										<li><a class="dropdown-item" style="white-space: normal;" href="#">Attach
												File</a>
										</li>
										<li><a class="dropdown-item" style="white-space: normal;" href="#">Copy
												Invoice</a>
										</li>
										<li><a class="dropdown-item" style="white-space: normal;" href="#">Mark as
												Sent</a>
										</li>
										<li><a class="dropdown-item" style="white-space: normal;" href="#">Pause Overdue
												Reminders</a></li>
										<li><a class="dropdown-item text-danger" style="white-space: normal;"
												href="#">Delete</a></li>
									</ul>
								</div>
							</div>
							<div class="btn-group">
								<a style="white-space: nowrap;" class="btn btn-sm btn-success">
									<i class="fa fa-plus-square fs-4"></i>
									Payment
								</a>
							</div>
						</div>
					</div>
					<div class="row border-bottom border-1 px-0 py-5">
						<div class="px-0 col-sm-12 col-md-6">
							<a class="h2 text-primary" href="#">INV-000017</a>
							<p class="px-0 mb-1 fw-bold text-muted">Perfex INC</p>
							<p class="px-0 mb-1">172 Ivy Club Gottliebfurt</p>
							<p class="px-0 mb-1">New Heaven</p>
							<p class="px-0 mb-1">Canada [CA] 2364</p>
						</div>
						<div class="px-0 col-sm-12 col-md-6 text-end">
							<div class="d-flex flex-column">
								<span class="bold">Bill To:</span>
								<a href="#">User</a>
							</div>
							<p class="px-0 mb-1 text-muted">
								<span class="bold text-dark">
									Invoice Date:
								</span>
								2023-09-01
							</p>
							<p class="px-0 mb-1 text-muted">
								<span class="bold text-dark">
									Due Date:
								</span>
								2023-10-01
							</p>
							<p class="px-0 mb-1 text-muted">
								<span class="bold text-dark">
									Sale Agent:
								</span>
								Uriel Brown
							</p>
						</div>
					</div>

					<div class="table-responsive">
						<table class="table table-bordered table-row-gray-300 gy-7 align-items-center">
							<thead>
								<tr class="fw-bold fs-6 text-gray-800">
									<th>Date</th>
									<th>Details</th>
									<th>Amount</th>
									<th>Payments</th>
									<th>Balance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-dark">2023-08-01</td>
									<td class="text-dark">Beginning Balance</td>
									<td class="text-dark">
										0.00 </td>
									<td class="text-dark"></td>
									<td class="text-dark">
										0.00 </td>
								</tr>
								<tr>
									<td class="text-dark">2023-08-10</td>
									<td class="text-dark">
										Invoice <a href="#" target="_blank">INV-000012</a> - due on 2023-09-09 </td>
									<td class="text-dark">
										2,490.00 </td>
									<td class="text-dark">
									</td>
									<td class="text-dark">
										2,490.00 </td>
								</tr>
								<tr>
									<td class="text-dark">2023-08-16</td>
									<td class="text-dark">
										Payment (<a href="#" target="_blank">#7</a>) to invoice INV-000012 </td>
									<td class="text-dark">
									</td>
									<td class="text-dark">
										660.00 </td>
									<td class="text-dark">
										1,830.00 </td>
								</tr>
							</tbody>
							<tfoot class="statement_tfoot">
								<tr>
									<td colspan="3" style="text-align: right;" class="text-dark">
										<b>Balance Due</b>
									</td>
									<td colspan="2" style="text-align: right;">
										<b class="text-right">$1,830.00</b>
									</td>
								</tr>
							</tfoot>
						</table>
					</div>
					<span class="fw-bold fw-6 py-3 text-muted">Terms & Conditions <br></span>
					<span>
						Please make the payment by the due date to avoid late payment charges.
						A 2% interest charge per month will be incurred on late payments.
						Payments made via cheque are to be made payable to Perfex Inc.
						<br>
						<br>
						Thank you for your business.
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>



@section styles{
<link href="~/assets/custom/css/customer.css" rel="stylesheet" />
}


<!-- Both of these should be column-11 in mobile, or add them padding etc in media query -->