@{
Layout = null;
}

<div class="row pt-0">
    <select class="form-select">
        <option selected="">Select an admin</option>
        <option value="Ramon Wil">Ramon Will</option>
        <option value="Pierre Zieme">Pierre Zieme</option>
        <option value="Leland Murray">Leland Murray</option>
    </select>
</div>