@{
Layout = null;
}

<div class="modal fade" id="kt_modal_new_contact" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-600px">
        <div class="modal-content">
            <div class="modal-header py-5 border-0">
                <!--begin::Close-->
                <h2 class="mb-0">Add new contact</h2>
                <div class="btn btn-sm btn-icon btn-active-color-primary d-flex justify-content-end"
                    data-bs-dismiss="modal">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </div>
                <!--end::Close-->
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Profile image</label>
                        <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="fname" class="form-label">First Name</label>
                        <input type="text" class="form-control form-control-sm" id="fname">
                    </div>
                    <div class="mb-3">
                        <label for="lname" class="form-label">Last Name</label>
                        <input type="text" class="form-control form-control-sm" id="lname">
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <input type="text" class="form-control form-control-sm" id="position">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control form-control-sm" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="phonenumber" class="form-label">Phone</label>
                        <input type="text" class="form-control form-control-sm" id="phonenumber">
                    </div>
                    <div class="mb-3">
                        <label for="direction" class="form-label">Direction</label>
                        <select id="direction" class="form-select form-select-sm">
                            <option selected>System Default</option>
                            <option value="LTR">LTR</option>
                            <option value="RTL">RTL</option>
                        </select>
                    </div>
                    <div style="gap: 0 10px; position: relative;" class="mb-10 d-flex align-items-end">
                        <div class="form-group w-100">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-sm" id="password">
                            <span style="position: absolute;" class="form-text text-danger">This field is
                                required.</span>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-light">
                                <i style="color: #0095e8;" class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-sm btn-light">
                                <i style="color: #0095e8;" class="fa fa-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div style="border-top: var(--bs-modal-footer-border-width) solid
                                var(--bs-modal-footer-border-color); 
                                border-bottom:var(--bs-modal-footer-border-width) solid
                                var(--bs-modal-footer-border-color);" class="row gy-3 m-0 py-5">
                        <div class="form-check col-12 d-flex align-items-center mt-0">
                            <input class="form-check-input me-2 cursor-pointer opacity-100" type="checkbox" value=""
                                id="primary-contact">
                            <label class="form-check-label cursor-pointer text-dark fw-semibold" for="primary-contact">
                                Primary Contact
                            </label>
                        </div>
                        <div class="form-check col-12 d-flex align-items-center">
                            <input class="form-check-input me-2 cursor-pointer opacity-100" type="checkbox" value=""
                                id="welcome-mail">
                            <label class="form-check-label cursor-pointer text-dark fw-semibold" for="welcome-mail">
                                Do not send welcome email
                            </label>
                        </div>
                        <div class="form-check col-12 d-flex align-items-center mb-0">
                            <input class="form-check-input me-2 cursor-pointer opacity-100" type="checkbox" value=""
                                id="password-mail">
                            <label class="form-check-label cursor-pointer text-dark fw-semibold" for="password-mail">
                                Send SET password email
                            </label>
                        </div>
                    </div>
                    <div class="mb-5">
                        <p class="fw-semibold fs-6 text-gray-800 pt-5 mb-1">Permissions</p>
                        <span class="form-text text-danger">Make sure to set appropriate permissions for this
                            contact</span>
                    </div>
                    <div style="border-bottom:var(--bs-modal-footer-border-width) solid
                                var(--bs-modal-footer-border-color);" class="row">
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Invoices</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Estimates</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Contracts</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Proposals</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Support</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Projects</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-5">
                        <p class="fw-semibold fs-6 text-gray-800 pt-5 mb-1">Email Notifications</p>
                        <span class="form-text text-danger">
                            Email notifications will be sent to this contact
                        </span>
                    </div>
                    <div class="row">
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Invoice</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Credit Note</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Tickets</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Estimate</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Project</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                        <div class="mb-3 d-flex align-items-center col-sm-6 col-md-4">
                            <span class="me-3">Contract</span>
                            <label class="customer-switch">
                                <input type="checkbox" checked="" wfd-id="id21">
                                <span class="customer-slider"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer py-5">
                <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="row mx-auto">
    <div class="d-flex align-items-center justify-between mx-auto col-11 justify-content-between">
        <h2>Contacts</h2>
    </div>
    <div class="card shadow-sm col-11 mx-auto mb-10 mt-5">
        <div class="card-header mt-10 customer-form__inner row align-items-center">

            <div class="row pb-3 px-0">
                <select class="form-select col" aria-label="Page Select">
                    <option selected="" value="5">Page</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="100">100</option>
                    <option value="">All</option>
                </select>
                <div class="btn-group col">
                    <button
                        class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">Export</button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fas fa-sync"></i>
                    </button>
                    <button
                        class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex align-items-center text-white" event="formPopup">
                            <i class="fa-regular fa-plus tw-mr-1 me-1"></i>
                            New
                        </a>
                    </button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7 align-items-center">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>
                                <label><input type="checkbox" wfd-id="id19"></label>
                            </th>
                            <th>#</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Phone</th>
                            <th>Active</th>
                            <th>Last Login</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <label><input type="checkbox" wfd-id="id20"></label>
                            </th>
                            <td>1</td>
                            <td>
                                <a href="#">Tiger Nixon</a>
                                <div class="row-options">
                                    <a href="#">Edit</a>
                                    <a href="#" class="text-danger">Delete</a>
                                </div>
                            </td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>
                                <label class="customer-switch">
                                    <input type="checkbox" checked="" wfd-id="id21">
                                    <span class="customer-slider"></span>
                                </label>
                            </td>
                            <td>03-08-2023</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pt-5">
                <div
                    class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                    <div class="row mx-2 align-items-center flex-column pb-5">
                        Toplam 48630 Kayıttan
                        <input value="1" style="scale:0.8; max-width: 100px;" type="text" class="form-control col mx-3"
                            wfd-id="id38">
                        arası gösteriliyor
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="kt_ecommerce_products_table_previous">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="1">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="0">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="1" class="page-link pager-page active">1</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="2" class="page-link pager-page ">2</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="3" class="page-link pager-page ">3</a>
                            </li>
                            <li class="paginate_button page-item next ">
                                <a class="page-link pager-page" href="#" page="2">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>

                            <li class="paginate_button page-item">
                                <a class="page-link pager-page" href="#" page="4863">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>