@{
Layout = null;
}
<div class="row">
    <div class="d-flex align-items-center justify-between mx-auto col-11 justify-content-between">
        <h2>Credit Notes</h2>
    </div>
    <div class="card shadow-sm col-11 mx-auto mb-10 mt-5">
        <div class="card-header mt-5 customer-form__inner row align-items-center">
            <div class="alert alert-warning mt-0">
                $0.00 credits available.</div>


            <div class="row pb-3 px-0">
                <select class="form-select col" aria-label="Page Select">
                    <option selected="" value="5">Page</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="100">100</option>
                    <option value="">All</option>
                </select>
                <div class="btn-group col">
                    <button
                        class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">Export</button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fas fa-sync"></i>
                    </button>
                    <button
                        class="btn btn-light customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex align-items-center text-dark">
                            <i style="height: 15px;" class="fa-regular fa-plus me-1"></i>
                            New
                        </a>
                    </button>
                    <button
                        class="btn btn-light customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex align-items-center text-dark">
                            <i style="height: 15px;" class="fa-regular fa-file-zipper me-1"></i>
                            Zip
                        </a>
                    </button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7 align-items-center">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Credit Note #</th>
                            <th>Credit Note Date</th>
                            <th>Status</th>
                            <th>Project</th>
                            <th>Reference #</th>
                            <th>Amount</th>
                            <th>Remaining Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">PRO-000003</a>
                                <div class="row-options">
                                    <a href="#">View</a>
                                    <a href="#" class="text-danger">Delete</a>
                                </div>
                            </td>
                            <td>
                                <a href="#">Nathi mehsus karto</a>
                            </td>
                            <td class="text-dark">$2,416.05</td>
                            <td class="text-dark">09/08/2023</td>
                            <td class="text-dark">16/08/2023</td>
                            <td>
                                <span class="badge badge-info">Info</span>
                            </td>
                            <td>
                                <span class="badge badge-success">$2,416.05</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pt-5">
                <div
                    class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                    <div class="row mx-2 align-items-center flex-column pb-5">
                        Toplam 48630 Kayıttan
                        <input value="1" style="scale:0.8; max-width: 100px;" type="text" class="form-control col mx-3"
                            wfd-id="id38">
                        arası gösteriliyor
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="kt_ecommerce_products_table_previous">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="1">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="0">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="1" class="page-link pager-page active">1</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="2" class="page-link pager-page ">2</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="3" class="page-link pager-page ">3</a>
                            </li>
                            <li class="paginate_button page-item next ">
                                <a class="page-link pager-page" href="#" page="2">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>

                            <li class="paginate_button page-item">
                                <a class="page-link pager-page" href="#" page="4863">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>