@{
Layout=null;
}
<div class="row mx-auto">
    <div class="d-flex align-items-center justify-between mx-auto col-11 justify-content-between">
        <h2>Invoices</h2>
    </div>
    <div class="card shadow-sm col-11 mx-auto mb-10 mt-5">
        <div class="card-header mt-5 customer-form__inner row align-items-center px-0">
            <div class="row g-5 mb-10 px-0 mx-auto">
                <div class="col-sm-12 col-md-3">
                    <div class="card card-flush">
                        <div class="card-body py-5">
                            <h5 style="font-size: 13px;" class="card-title mt-0 fw-bold text-default">Draft</h5>
                            <p style="font-size: 14px;" class="card-text mb-0 text-primary fw-bold">$1,200.00</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card card-flush">
                        <div class="card-body py-5">
                            <h5 style="font-size: 13px;" class="card-title mt-0 fw-bold text-info">Sent</h5>
                            <p style="font-size: 14px;" class="card-text mb-0 text-primary fw-bold">$1,200.00</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card card-flush">
                        <div class="card-body py-5">
                            <h5 style="font-size: 13px;" class="card-title mt-0 fw-bold text-warning">Expired</h5>
                            <p style="font-size: 14px;" class="card-text mb-0 text-primary fw-bold">$1,200.00</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3">
                    <div class="card card-flush">
                        <div class="card-body py-5">
                            <h5 style="font-size: 13px;" class="card-title mt-0 fw-bold text-danger">Declined</h5>
                            <p style="font-size: 14px;" class="card-text mb-0 text-primary fw-bold">$1,200.00</p>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="row inputs">
                <form class="card shadow-sm customer-form col-11 mx-auto mb-5">
                    <div class="customer-form__inner card-body row align-items-center">
                        <div class="col-md-12 col-lg-4">
                            <label for="filter" class="col-form-label">Filter</label>
                            <input id="filter" type="text" class="form-control" placeholder="Filter">
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <label for="groups-select" class="col-form-label">Groups</label>
                            <select style="max-width:300px; height:43px !important;" class="form-select"
                                id="groups-select" aria-label="Select">
                                <option selected>Groups</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                                <option value="3">VIP</option>
                                <option value="4">Budget</option>
                                <option value="5">Wholesaler</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div> *@
            <div class="row pb-3 mx-auto">
                <div class="col-sm-12 col-md-6 px-0">
                    <select class="form-select col" aria-label="Page Select">
                        <option selected="" value="5">Page</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="100">100</option>
                        <option value="">All</option>
                    </select>
                </div>

                <div class="btn-group col-sm-12 col-md-6 px-0">
                    <button
                        class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">Export</button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fas fa-sync"></i>
                    </button>
                    <button
                        class="btn btn-primary customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex align-items-center text-white">
                            <i style="height: 15px;" class="fa-regular fa-plus tw-mr-1 me-1"></i>
                            New
                        </a>
                    </button>
                    <button
                        class="btn btn-light customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex align-items-center text-dark">
                            <i style="height: 15px;" class="fa-regular fa-file-zipper me-1"></i>
                            Zip
                        </a>
                    </button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-row-dashed table-row-gray-300 gy-7 align-items-center">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>
                                <label><input type="checkbox" wfd-id="id19"></label>
                            </th>
                            <th>Invoice #</th>
                            <th>Amount</th>
                            <th>Total Tax</th>
                            <th>Date</th>
                            <th>Project</th>
                            <th>Tags</th>
                            <th>Due Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label><input type="checkbox" wfd-id="id20"></label>
                            </td>
                            <td>
                                <a href="#">INV-000005</a>
                                <div class="row-options">
                                    <a href="#">View</a>
                                    <a href="#">Edit</a>
                                </div>
                            </td>
                            <td class="text-dark">$2,120.00</td>
                            <td class="text-dark">$270.00</td>
                            <td class="text-dark">2023-08-08</td>
                            <td class="text-dark">61</td>
                            <td>
                                <span class="badge badge-light-primary">Web Design</span>
                            </td>
                            <td class="text-dark">2023-09-07</td>
                            <td>
                                <span class="badge badge-light-success">Paid</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row pt-5 mx-auto">
                <div
                    class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                    <div class="row mx-2 align-items-center flex-column flex-md-row pb-5 text-center">
                        Toplam 48630 Kayıttan
                        <input value="1" style="scale:0.8; max-width: 100px;" type="text" class="form-control col mx-3"
                            wfd-id="id38">
                        arası gösteriliyor
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_products_table_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="kt_ecommerce_products_table_previous">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="1">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" aria-controls="kt_ecommerce_products_table" class="page-link pager-page"
                                    page="0">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="1" class="page-link pager-page active">1</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="2" class="page-link pager-page ">2</a>
                            </li>
                            <li class="paginate_button page-item">
                                <a href="#" page="3" class="page-link pager-page ">3</a>
                            </li>
                            <li class="paginate_button page-item next ">
                                <a class="page-link pager-page" href="#" page="2">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>

                            <li class="paginate_button page-item">
                                <a class="page-link pager-page" href="#" page="4863">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>