@{
Layout = null;
}
<div class="row mx-auto">
    <div class="d-flex align-items-center justify-between mx-auto col-11 justify-content-between">
        <h2>Statement</h2>
    </div>
    <div class="card shadow-sm col-11 mx-auto mb-10 mt-5">
        <div class="card-header mt-5 customer-form__inner row align-items-center">
            <div class="row px-0 pb-3 mx-auto pt-5 align-items-center">
                <select style="max-width: 300px !important; height:43px;" class="form-select col fs-7"
                    aria-label="Page Select">
                    <option selected="" value="this-month">This Month</option>
                    <option value="today">Today</option>
                    <option value="this-week">This week</option>
                    <option value="this-month">This month</option>
                    <option value="all">All</option>
                </select>
                <div class="btn-group col px-0">
                    <button
                        class="btn btn-light customer-form__inner__export-btn d-flex align-items-center justify-content-center">
                        <i style="font-size: 18px; cursor:pointer;" class="fa fa-print"></i>
                    </button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i style="font-size: 18px; cursor:pointer;" class="fa-regular fa-file-pdf"></i>
                    </button>

                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i style="font-size: 18px; cursor:pointer;" class="fa-regular fa-envelope"></i>
                    </button>
                    <button class="btn btn-light refresh-btn d-flex align-items-center justify-content-center"
                        id="refresh-btn">
                        <i class="fa fa-filter"></i>
                    </button>
                </div>
            </div>
            <div class="row border-bottom border-1 px-0 py-5">
                <h2 class="px-0 col-12 text-muted">Customer Statement For Bradtke, Bednar and Jenkins</h2>
                <div class="px-0 col-12 d-flex align-items-end flex-column">
                    <p class="px-0 mb-1 fw-bold text-muted">Perfex INC</p>
                    <p class="px-0 mb-1">172 Ivy Club Gottliebfurt</p>
                    <p class="px-0 mb-1">New Heaven</p>
                    <p class="px-0 mb-1">Canada [CA] 2364</p>
                </div>
            </div>

            <div class="row px-0">
                <div class="px-0 col-sm-12 col-md-7 py-5">
                    <p class="px-0 mb-1 fw-bold text-muted">To:</p>
                    <p class="px-0 mb-1">Bradtke, Bednar and Jenkins</p>
                    <p class="px-0 mb-1">839 Reba Wall Apt. 692</p>
                    <p class="px-0 mb-1">Wisokyport Wyoming</p>
                    <p class="px-0 mb-1">XK 62495-1412</p>
                </div>
                <div class="px-0 col-sm-12 col-md-5 py-5 d-flex flex-column align-items-end">
                    <h2 class="text-muted">Account Summary</h2>
                    <p class="text-muted">2023-08-01 To 2023-08-31</p>
                    <table class="table mb-0">
                        <tbody>
                            <tr>
                                <td class="text-dark pb-1">Beginning Balance:</td>
                                <td class="text-dark text-end pb-1">$0.00</td>
                            </tr>
                            <tr>
                                <td class="text-dark py-1">Invoiced Amount:</td>
                                <td class="text-dark text-end py-1">$11,398.00</td>
                            </tr>
                            <tr>
                                <td class="text-dark py-1">Amount Paid:</td>
                                <td class="text-dark text-end py-1">$0.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-dark py-1"><b>Balance Due</b>:</td>
                                <td class="text-dark text-end py-1">$11,398.00</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <span class="text-center fw-semibold fw-6 py-3">Showing all invoices and payments between 2023-08-01 and
                2023-08-31
            </span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-row-gray-300 gy-7 align-items-center">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800">
                            <th>Date</th>
                            <th>Details</th>
                            <th>Amount</th>
                            <th>Payments</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-dark">2023-08-01</td>
                            <td class="text-dark">Beginning Balance</td>
                            <td class="text-dark">
                                0.00 </td>
                            <td class="text-dark"></td>
                            <td class="text-dark">
                                0.00 </td>
                        </tr>
                        <tr>
                            <td class="text-dark">2023-08-10</td>
                            <td class="text-dark">
                                Invoice <a href="#" target="_blank">INV-000012</a> - due on 2023-09-09 </td>
                            <td class="text-dark">
                                2,490.00 </td>
                            <td class="text-dark">
                            </td>
                            <td class="text-dark">
                                2,490.00 </td>
                        </tr>
                        <tr>
                            <td class="text-dark">2023-08-16</td>
                            <td class="text-dark">
                                Payment (<a href="#" target="_blank">#7</a>) to invoice INV-000012 </td>
                            <td class="text-dark">
                            </td>
                            <td class="text-dark">
                                660.00 </td>
                            <td class="text-dark">
                                1,830.00 </td>
                        </tr>
                    </tbody>
                    <tfoot class="statement_tfoot">
                        <tr>
                            <td colspan="3" style="text-align: right;" class="text-dark">
                                <b>Balance Due</b>
                            </td>
                            <td colspan="2" style="text-align: right;">
                                <b class="text-right">$1,830.00</b>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>